/*
.placeholder{
	border: 10px solid black;
	width: 625px;
	height: 625px;
}
*/

.container{
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	width: 400px;
	height: 400px;
	border: 1px solid black;
}

.box{
	border: 1px solid lightgrey;
	background-color: white;
	aspect-ratio: 1;
}

.hover{
	background-color: green;
}
